.footer {
    background: #000000;
}

.footer-container {
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.footer-texto {
    font-family: "Roboto";
    font-size: 1.25rem;
    line-height: 1.1;
    color: #ccc;

}

.footer-texto strong {
    color: #ffffff;
}

.footer-contato {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.footer-contato li {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.footer-contato li img {
    width: 16px;
    margin-right: 8px;
}


.footer-contato li:hover {
    color: #ccc;
    cursor: pointer;
}


@media (max-width:800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-contato li {
        font-size: 1.125rem;
    }
}
